@import "../../assets/scss/variables";
.m-form {
  margin-top: 10%;
  h1 {
    margin: 0.3em 0;
  }
  h4 {
    margin-bottom: 0.8em;
    color: $white-light;
  }
  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: inline-block;
    position: relative;
  }

  &__clear {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      display: block;
      content: "×";
    }
  }

  &__control {
    background-color: transparent;
    color: $white;
    border: solid 3px #ad00ff;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    padding: 0.8rem 0;
    transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
  }

  &__help {
    font-size: 0.8rem;
    margin: 5px 0;
  }

  &__group--invalid &__control {
    border-color: #ff4500;
    background-color: #680013;
  }

  &__group--invalid &__clear,
  &__group--invalid &__help {
    color: #ff4500;
  }

  &__group--invalid &__clear {
    transition: color 0.1s ease-in-out, font-size 0.1s ease-in-out;

    &:hover {
      color: #b0bec5;
      font-size: 2rem;
    }
    &:active {
      color: #8b8ac5;
    }
  }
  &__oauth-item {
    font-size: 3em;
    padding: 0.4em 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $white;
    margin-bottom: 0.7rem;
    margin-right: 0.5rem;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.9;
    }
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 1em;
      height: 1em;
    }
    &:last-child {
      margin-right: 0;
    }
    &_google {
      background-color: #db4339;

      &:before {
        background: url("../../assets/svg/gg.svg") 50% 50% / contain no-repeat;
      }
    }
    &_vk {
      background-color: #4a7194;
      
      &:before {
        background: url("../../assets/svg/vk.svg") 50% 50% / contain no-repeat;
      }
    }
  }
}
