<template>
  <div class="m-cards__item">
    <div class="m-cards__top">
      <div class="m-cards__author">
        <div
          class="m-cards__author-avatar"
          :style="{ backgroundImage: `url(${card.owner_avatar})` }"
        />
        <div class="m-cards__author-name" v-text="card.owner_name" />
      </div>
      <!-- .m-cards__author -->

      <div class="m-cards__actions">
        <el-button
          @click="onOpenMorePopup()"
          type="text"
          icon="el-icon-more-outline m-cards__more-icon"
          class="m-cards__more-button"
        />

        <transition name="el-zoom-in-top">
          <MurrCardMorePopup
            v-click-outside="onCloseMorePopup"
            v-if="openedMore"
            :isAuthorized="isMurrenAuthorized"
            :isSubscriber="card.is_subscriber"
            :isAuthorMurr="isAuthorMurr"
            @copy-link="onCopyMurrLink()"
            @subscribe="onSubscribeToMurren()"
          />
        </transition>
      </div>
    </div>
    <!-- .m-cards__top -->

    <div
      v-if="card.cover"
      @click="onOpenMurrCard(card.id)"
      class="m-cards__cover"
    >
      <img :src="card.cover" :alt="card.title" class="m-cards__cover-img" />
    </div>
    <!-- .m-cards__cover -->

    <div
      @click="onOpenMurrCard(card.id)"
      v-text="card.title"
      class="m-cards__title"
    />
    <!-- .m-cards__title -->

    <div class="m-cards__footer">
      <div class="m-cards__rating">
        <el-button
          icon="el-icon-arrow-up"
          type="text"
          :class="{
            'm-cards__rating-like': true,
            'is_like': card.is_like
          }"
          @click="onRatingLike()"
        />

        <el-button
          type="text"
          class="m-cards__rating-counter"
          :class="{
            positive: card.rating > 0,
            negative: card.rating < 0,
          }"
        >
          {{ card.rating }}
        </el-button>
        <el-button
          icon="el-icon-arrow-down"
          type="text"
          :class="{
            'm-cards__rating-unlike': true,
            'is_dislike': card.is_dislike
          }"
          @click="onRatingUnlike()"
        />
      </div>
      <div class="m-cards__comments">
        <el-button
          v-if="card.comments_count != 0"
          icon="el-icon-chat-round"
          type="text"
          class="m-cards__comments-btn"
          @click="onOpenMurrCard(card.id)"
        >
          <span class="m-cards__comments-count">{{ +card.comments_count >= 100 ? '99+' : card.comments_count }}</span>
        </el-button>
      </div>
    </div>
    <!-- .m-cards__footer -->
  </div>
</template>
<script>
import { mapActions } from "vuex";
import MurrCardDetail from "./MurrCardDetail.vue";
import MurrCardMorePopup from "./MurrCardMorePopup.vue";
import * as type from "./store/type.js";

import { copyToBuffer } from "../../utils/helpres.js";

export default {
  name: "MurrCardItem",

  components: {
    MurrCardMorePopup,
  },

  data: () => ({
    openedMore: false,
  }),

  props: {
    card: {
      type: Object,
      required: true,
    },
    isMurrenAuthorized: {
      type: Boolean,
      required: true,
    },
    targetPage: String,
  },

  computed: {
    isAuthorMurr() {
      return this.card.owner === this.$store.getters.murrenId_getters;
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
      handlerSignInModal: "changeShowLoginForm_actions",
    }),

    notAuthenticatedRatingNotification() {
      this.notification({
        message: `Залогинься и сможешь оценивать`,
        type: "success",
      });

      this.handlerSignInModal();
    },

    async ratingAction(action) {
      const { success, data } = await this.$store.dispatch(action, {
        murrID: this.card.id,
      });

      if (success) {
        this.card.rating = data.rating;
        this.card.is_like = data.is_like;
        this.card.is_dislike = data.is_dislike;
        if (this.targetPage === "myLikes") {
          this.$store.commit(type.MURR_CARDS_REMOVE, this.card.id);
        }
      }
    },

    async onRatingLike() {
      if (!this.isMurrenAuthorized) {
        this.notAuthenticatedRatingNotification();
        return;
      }

      await this.ratingAction(type.MURR_CARD_LIKED);
    },

    async onRatingUnlike() {
      if (!this.isMurrenAuthorized) {
        this.notAuthenticatedRatingNotification();
        return;
      }

      await this.ratingAction(type.MURR_CARD_UNLIKED);
    },

    onOpenMurrCard(murrID) {
      this.$store.commit("modal/open", {
        transition: "el-zoom-in-top",
        component: {
          render: MurrCardDetail,
          context: { murrID },
        },
      });
    },

    murrCardLink() {
      const protocol = window.location.protocol;
      const host = window.location.host;
      return `${protocol}//${host}/murr_card/${this.card.id}`;
    },

    onCopyMurrLink() {
      this.onCloseMorePopup();
      
      const murrCardLink = this.murrCardLink();
      copyToBuffer(murrCardLink);

      this.notification({
        message: `Линка на мурр скопирована 😊`,
        type: "success",
      });
    },

    async onSubscribeToMurren() {
      this.onCloseMorePopup();

      const { success, data } = await this.$store.dispatch(type.MURR_CARD_SUBSCRIBE, {
        murrenID: this.card.owner,
      });

      if (success) {
        let message;

        if (data.is_subscriber) {
          message = `Вы успешно подписались на ${this.card.owner_name} 😊`;
        }
        else {
          message = `Вы успешно отписались от ${this.card.owner_name} 😟`;
        }

        this.notification({
          message: message,
          type: "success",
        });
      }
    },

    onOpenMorePopup() {
      this.openedMore = true;
    },

    onCloseMorePopup() {
      this.openedMore = false;
    },

  },
};
</script>
