@import "../../../assets/scss/variables.scss";

%button {
  &:hover {
    color: $accent-color-primary-hover;
    background-color: rgba($white, 0.1);
  }

  &:active {
    color: $accent-color-primary-hover;
    background-color: rgba($white, 0.2);
  }
}

.m-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__item {
    min-width: 320px;
    max-width: 320px;
    border-radius: 3px;
    padding: 1px;
    margin-bottom: 2rem;

    background-color: $dark-accent-primary;
    border: $accent-color-main 1px solid;

    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

    &:hover {
      box-shadow: -1px -1px 20px 1px $accent-color-main-hover,
        1px 1px 20px 1px $accent-color-main-hover;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 3px;
  }

  &__author {
    display: flex;
    align-items: center;

    &-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-name {
      flex: 1;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      margin-left: 4px;
      word-break: break-all;
    }
  }

  &__actions {
    margin-left: auto;
    position: relative;
  }

  &__more {
    &-icon {
      font-size: 30px;
    }

    &-button {
      padding: 0;
      border-radius: 3px;
      color: $accent-color-primary;
      @extend %button;
    }

  }

  &__popup {
    position: absolute;
    width: 136px;
    background-color: $dark-accent-primary;
    border-radius: 3px;
    border: $accent-color-main 1px solid;
    z-index: 2;
    right: 0;

    &-action {
      display: flex;
      cursor: pointer;
      padding: 7px 5px;
      border-bottom: $accent-color-main 1px solid;
      @extend %button;

      &:last-child {
        border-bottom: 0;
      }
    }

    &-text {
      display: block;
      font-size: 12px;
    }

    &-icon {
      font-size: 24px;
      margin-right: 5px;
      
      &_normal {
        color: $accent-color-primary;
      }

      &_cancel {
        color: $danger;
      }
    }

  }

  &__cover {
    max-height: 600px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;

    &-img {
      max-width: 100%;
      display: inline-block;
      border-radius: 3px;
    }
  }

  &__title {
    cursor: pointer;
    margin: 2px 8px;
    font-size: 16px;
    font-family: "JetBrainsMono-Regular", monospace;
    word-break: break-all;
  }

  &__footer {
    margin: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__comments {
    display: flex;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    &-btn {
      position: relative;
      padding: 0;
      font-size: 25px;
      width: 25px;
      color: $accent-color-primary;
      @extend %button;
    }
    &-count {
      font-size: 10px;
      position: absolute;
      color: #65a3ca;
      height: 25px;
      line-height: 25px;
      width: 21px;
      left: 2px;
      text-align: center;
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    .el-button + .el-button {
      margin-left: 5px;
    }

    &-like,
    &-unlike,
    &-counter {
      padding: 0;
    }

    &-like,
    &-unlike {
      border-radius: 3px;
      font-size: 30px;
      color: $accent-color-primary;
      @extend %button;
    }

    &-like {
      &.is_like {
        color: #61e294;
        font-weight: bold;
      }
    }

    &-unlike {
      &.is_dislike {
        font-weight: bold;
        color: #bf4060;
      }
    }

    &-counter {
      font-size: 16px;
      color: $white;

      &.positive,
      &.positive:hover {
        color: $success;
      }

      &.negative,
      &.negative:hover {
        color: $danger;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
